.wrapper {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header {
    height: 50px;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}

.containerHeader {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.closeButton:focus {
    outline: none;
}

.svg {
    width: 20px;
    height: 20px;
}

.formWrapper {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.formBlock {
    width: 100%;
    max-width: 800px;
    height: calc(100vh - 170px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    margin: 10px 0;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
}

.inputWrapper {
    position: relative;
}

.eys {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttonLogin {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.buttonLogin:disabled {
    cursor: default;
}

.buttonRegistration {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
