.App {
    text-align: center;
    position: relative;
}

.defaultButton {
    padding: 8px 16px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    font-weight: bold;
}

.yellow {
    background-color: #fafe57;
}
