.container {
    height: 45px;
    width: 100%;

    margin: 0 auto;
    padding: 1% 0;

    max-width: 1400px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Parimatch', sans-serif;
}

.main-page-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 15px;
}

.main-page-container img {
    height: 25px;
}

.authorized,
.unauthorized {
    float: right;

    margin-left: auto;

    display: flex;
    align-items: center;
}

.authorized button,
.unauthorized button {
    cursor: pointer;

    padding: 7px 15px;

    outline: none;
    border: none;

    border-radius: 2px;

    font-weight: 600;
    color: #000;
}

.unauthorized button {
    margin-left: 10px;
}

.registration-button {
    background-color: #faff4b;
}

.dice {
    opacity: 0.8;
}

.dice:hover {
    opacity: 1;
}

.dice:hover,
.authorized button:hover,
.unauthorized button:hover {
    text-decoration: underline;
}

.game {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.95em;
    font-weight: 600;
}

.game-title {
    display: flex;

    text-overflow: ellipsis;
    overflow-wrap: break-word;

    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
}

.game img {
    cursor: pointer;

    width: 0.85em;
    height: 0.85em;

    margin-right: 10px;
    fill: #dadbb1;
}

.heart {
    cursor: pointer;

    width: 2em;
    height: 2em;

    margin-right: 10px;
    fill: #dadbb1;
}

.fav {
    fill: #faff4b;
    transform: scale(1.2);
}

@media only screen and (max-width: 500px) {
    .game {
        font-size: 1.2em;

        text-align: center;
    }

    .game img {
        width: 1em;
        height: 1em;
    }

    .game p {
        display: inline-block;
        width: calc(100% - 1em);
    }

    .game-title {
        justify-content: space-between;
        width: 90vh;
    }
}
