.react-multi-carousel-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.react-multi-carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, transition;
}
.react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all 0.5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    min-width: 35px;
    min-height: 35px;
    opacity: 1;
    cursor: pointer;
}
.react-multiple-carousel__arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}
.react-multiple-carousel__arrow::before {
    font-size: 25px;
    color: #fff;
    display: block;
    text-align: center;
    z-index: 2;
    position: relative;
}
.react-multiple-carousel__arrow--left {
    left: 10px;
}
.react-multiple-carousel__arrow--left::before {
    content: '\21E6';
}
.react-multiple-carousel__arrow--right {
    right: 10px;
}
.react-multiple-carousel__arrow--right::before {
    content: '\21E8';
}

.react-multi-carousel-item {
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .react-multi-carousel-item {
        flex-shrink: 0 !important;
    }
    .react-multi-carousel-track {
        overflow: visible !important;
    }
}
